@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  input {
    @apply py-1 px-2 rounded border;
  }
  button {
    @apply py-1 px-2 rounded border bg-gray-100;
  }
}

@layer components {
  .table-results {
    /* Need border-collapse separate for position: sticky to play nicely*/
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-results td,
  .table-results th {
    @apply py-1 px-2 bg-gray-50 border;

    white-space: nowrap;
  }

  .table-results td:first-child,
  .table-results th:first-child {
    position: sticky;
    left: 0;
    border-right-color: #333;
  }

  .table-results .wing-start {
    border-left-color: #333;
  }
  .table-results .wing-end {
    border-right-color: #333;
  }
}

@layer components {
  .button-group button {
    @apply rounded-none;
  }
  .button-group button:first-child {
    @apply rounded-l-lg;
  }
  .button-group button:last-child {
    @apply rounded-r-lg;
  }
}
